.product-details-container {
  width: 80%;
  margin: auto;
  min-height: 80vh;
}

.carousel-details {
  padding: 3vw;
}
.product-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
}
.product-description-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}
.av-tag {
  border-radius: 0.2rem;
  padding: 0.3rem;
  font-size: 0.8rem;
}
.product-description-1 {
  display: flex;
  gap: 2rem;
}

.options-container {
  display: flex;
  gap: 1rem;
}

.options-container > button {
  width: 3rem;
}
.product-description-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 2.4vh;
}

.product-description-2 > p {
  margin-bottom: 1vh;
}

.options-container {
  margin-top: 1vh;
  margin-bottom: 2vh;
}

.product-description-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.actions-container {
  display: flex;
  gap: 1vw;
  bottom: 2vh;
  position: absolute;
  right: 0;
  bottom: 3vh;
}

.fav-btn {
  width: fit-content;
}

.fav-color {
  color: red;
}
.color-choice {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-choice:hover {
  border: 3px solid black;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  cursor: pointer;
}

@media (max-width: 1023px) {
  .actions-container {
    flex-direction: column;
  }
  .fav-btn {
    position: absolute;
    bottom: 37vw;
    left: 67%;
  }
  .product-details-container {
    margin-top: 10vh;
    margin-bottom: 20vh;
  }
  .product-description-header {
    text-align: left;
  }
}

@media (min-width: 326px) and (max-width: 1022px) {
  .fav-btn {
    position: absolute;
    right: 0;
    bottom: 33vh;
  }
}


@media (max-width: 325px) {
  .actions-container {
    display: block;
  }

  .fav-btn {
    position: absolute;
    right: 0;
    bottom: 286px;
  }

  #action-btn {
    position: relative;
    bottom: -8vh;
    right: 111px;
  }
}
